@charset "UTF-8";
/* CSS Document */

html {
  height: 100%;
  font-size: 10px; 
}

body {
  height: 100%; 
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem; 
  }

 main {
  width: 60%; 
  margin: 0 auto;
  padding: 3rem; 
 
} 

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem; 
}

footer p {
  font-size: 1.4rem;
 
}

